body {
    margin: 0 auto;
    max-width: 80ch;
    padding: 5px;
}

/* Header */
header {
    background: #fff;
    border-bottom: 1px solid #777;
    max-height: 50px;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 80ch;
    z-index: 1;
}
header img {
    height: 16px;
    image-rendering: pixelated;
    width: 16px;
}
header ul {
    padding-left: 0;
}
header li {
    display: inline-block;
}

/* Nav - Float arrows to right side */
header li:nth-of-type(2) {
    float: right;
    padding-right: 10px
}
header li:nth-of-type(3) {
    float: right;
    padding-left: 10px
}

/* Nav - Draw boxes around page links */
header a {
    border: 1px solid #111;
    padding: 5px 5px 0;
}
header li:nth-of-type(1) a,
header li:nth-of-type(2) a,
header li:nth-of-type(3) a {
    border: none;
}

/* Nav - Emphasize current page */
body.books header a[href="books.html"] img,
body.code header a[href="code.html"] img,
body.other header a[href="other.html"] img,
body.quotes header a[href="quotes.html"] img,
body.text header a[href="text.html"] img {
    filter: invert(1);
}
body.books header a[href="books.html"],
body.code header a[href="code.html"],
body.other header a[href="other.html"],
body.quotes header a[href="quotes.html"],
body.text header a[href="text.html"] {
    background: #000;
}


/* Content */
content {
    display: block;
    margin-top: 70px;
}
content h2, content h3, content h4, content h5, content h6 {
    margin-top: 100px;
    scroll-margin-top: 70px;
}

/* Table of contents */
#TOC {
    border-bottom: 1px solid #777;
}
#TOC ul {
    padding-left: 0;
}
#TOC ul ul li {
    padding-left: 4ch;
}
#TOC li {
    list-style: none;
}
#TOC > ul > li > a[id^="toc-"] {
    font-weight: bold;
}

/* Page titles */
h1 {
    display: none; 
}
#TOC h1 {
    display: unset;
}

/* Other */
a {
    color: #b22;
}
.Warning p::before {
    background: #ed2;
    content: "Note:";
    margin-right: 1ch;
}
div.sourceCode {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

/* Footer */
footer {
    margin: 100px 0 40px;
}
