:root {
    --primary: #a22;
    --secondary: #c90;
    --tertiary: #069;
    --white: #fff;
    --light: #eee;
    --dark: #111;
    --bg: #eee;

    --border: 1px solid #333;
    --font-family: monospace;
    --font-size: 10pt;
    --gap: 2ch;
    --width: 80ch;
}

html {
    background: var(--light);
    font-family: var(--font-family);
    scroll-padding-top: 12ch;
}
body {
    background: var(--bg);
    display: block;
    font-size: var(--font-size);
    margin: 0 auto;
    max-width: var(--width);
}
content, header, footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: var(--font-size);
}
header {
    background: var(--bg);
    border-bottom: var(--border);
    max-width: var(--width);
    padding-bottom: var(--gap);
    padding-top: 1ch;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}
footer {
    background: var(--bg);
    border-top: var(--border);
    border-padding: var(--gap);
    padding: var(--gap);
    text-align: center;
    width: 100%;
}
content {
    display: block;
    margin-top: 10ch;
    width: 100%;
}
#home {
    font-size: 24pt;
    font-weight: bold;
    margin: 0ch 1ch 1ch 0ch;
}
content > header#title-block-header {
    display: none;
}
nav#nav {
    display: inline-block;
    margin-left: 1ch;
}
nav#nav a {
    margin-right: 1ch;
}

/* headers */
h1 {
    border-bottom: var(--border);
}
h2 {
/*    border-bottom: var(--border); */
/*    border-left: 12pt solid #222; */
/*    padding-left: 12pt; */
    margin-top: 5ch;
}
h3 {
    margin-top: 40px;
}

h1 ~ *:not(h1) {
  margin-left: 0em;
}
h2 ~ *:not(h1):not(h2) {
  margin-left: 0ch;
}
h3 ~ *:not(h1):not(h2):not(h3) {
  margin-left: 2ch;
}
h4 ~ *:not(h1):not(h2):not(h3):not(h4) {
  margin-left: 4ch;
}

/* ```code``` */
p code, li code {
    background: var(--white);
    color: var(--dark);
    padding: 0 1ch;
}
div.sourceCode {
    margin: unset;
    padding: 1ch;
}
pre.sourceCode {
    overflow-x: scroll;
}
pre > code.sourceCode {
    box-decoration-break: clone
    position: unset;
}

/* > blockquotes */
blockquote { 
    border-left: var(--border);
    padding-left: 1ch;
    margin-bottom: 3ch;
}
blockquote > p:before {
/*  content: "\00a0\00a0> "; */
/*    content: "> "; */
}

/* * lists */
content nav {
    border-bottom: var(--border);
    font-size: 10pt;
    margin-top: 0px;
}
/*
content nav:after {
    content: "***";
    display: block;
    text-align: center;
    width: 100%;
}
*/
content nav ul {
    padding-left: 0;
}
content nav > ul > li {
    font-weight: bold;
    font-size: var(--font-size);
    list-style-type: none;
    margin-top: 2ch;
    text-align: center;
}
content nav > ul > li > a {
    display: none;
}
content nav > ul > li > ul {
    display: block;
    font-size: var(--font-size);
    margin-left: 0ch;
    text-align: left;
}
content nav > ul > li > ul > li > ul {
    display: block;
    margin-left: 2ch;
}
content nav ul > li li {
    display: inline-block;
    font-weight: normal;
/*    margin-top: 2ch; */
}
content nav ul > li a {
    margin: 1ch;
}
li {
    list-style-type: square;
}

/* [links] */
a {
    color: var(--primary);
}
