:root {
    --primary: #a22;
    --secondary: #c90;
    --tertiary: #069;
    --white: #fff;
    --light: #eee;
    --dark: #111;
    --bg: #eee;

    --border: 1px solid #333;
    --font-family: monospace;
    --font-size: 12pt;
    --gap: 2ch;
    --width: 80ch;
}

html {
    background: var(--light);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.5);
    scroll-padding-top: 12ch;
}
body {
    background: var(--bg);
    display: block;
    margin: 0 auto;
    max-width: var(--width);
    padding: calc(var(--gap) / 2);
}
content, header, footer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: var(--font-size);
}
header {
    background: var(--bg);
    border-bottom: var(--border);
    max-width: var(--width);
    padding-bottom: var(--gap);
    padding-top: 1ch;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}
footer {
    background: var(--bg);
    border-top: var(--border);
    border-padding: var(--gap);
    padding: var(--gap);
    margin-top: calc(var(--gap) * 8);
    text-align: center;
    width: 100%;
}
content {
    display: block;
    margin-top: 7ch;
    width: 100%;
}
#home {
    font-size: 24pt;
    font-weight: bold;
    margin: 0ch 1ch 1ch 0ch;
}
content > header#title-block-header { display: none; }
nav#nav {
    display: inline-block;
    margin-left: 1ch;
}
nav#nav a { margin-right: 1ch; }


/****************************************************************************/
/* Headers */
/****************************************************************************/
/* Hide first <h1> element (page title is already provided via TOC) */
h1:nth-of-type(1) { display: none; }
/* Hide title on homepage */
h1[class="title index"] { display: none; }
h2, h3, h4, h5, h6 { margin-top: 100px; }
h1 ~ h2, h2 ~ h3, h3 ~ h4, h4 ~ h5, h5 ~ h6 { margin-top: 60px; }

/****************************************************************************/
/* Code blocks */
/****************************************************************************/
p code, li code {
    background: var(--white);
    color: var(--dark);
    padding: 0 1ch;
}
div.sourceCode {
    margin: unset;
    padding: 1ch;
}
pre.sourceCode { overflow-x: scroll; }
pre > code.sourceCode {
    box-decoration-break: clone
    position: unset;
}


/****************************************************************************/
/* Table of Contents */
/****************************************************************************/
#TOC {
    border-bottom: var(--border);
    margin-bottom: 60px;
} 
#TOC > ul, #TOC > ul > li > ul { 
    line-height: calc(var(--font-size) * 2);
    padding-left: 0; 
}
#TOC li { list-style-type: none; }
#TOC > ul > li > a[id^="toc-"] {
    color: var(--dark);
    display: block;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}


/****************************************************************************/
/* Custom divs / alerts */
/****************************************************************************/
.Warning {
    background: #fec;
    border: var(--border);
    display: inline-block;
    font-weight: bold;
    padding: 1ch;
}
.Warning p::before {
  content: "⚠\A";
  font-size: 32pt;
  display: block;
  text-align: center;
  padding-bottom: 0.5ch;
}

/****************************************************************************/
/* Basic elements */
/****************************************************************************/
a { color: var(--primary); }
blockquote { 
    border-left: var(--border);
    padding-left: 1ch;
    margin-bottom: 3ch;
}
li { list-style-type: square; }


