body {
    font-family: monospace;
    margin: 0 auto;
    max-width: 80ch;
    padding: 5px;
}

header {
    background: #fff;
    border-bottom: 1px solid #777;
    max-height: 50px;
    max-width: 100%;
    position: fixed;
    top: 0;
    width: 80ch;
    z-index: 1;

    img {
        height: 16px;
        image-rendering: pixelated;
        width: 16px;
    }

    ul { padding-left: 0; }
    
    li { display: inline-block; }

    li a {
        border: 1px solid #111;
        padding: 5px 5px 0;    
    }

    li.Up, li.Down {
        float: right;
        padding-right: 10px;
    }

    li.Home a, li.Up a, li.Down a {
        border: none;
    }
}


/* Content */
content {
    display: block;
    margin-top: 70px;

    a { 
        color: #b22;
    }

    h1 {
        text-transform: capitalize;
    }

    h2 {
        /* border-bottom: 1px solid #000; */
        margin-top: 50px;
    }

    h2, h3, h4, h5, h6 { 
        scroll-margin-top: 70px;
    }

    ul li {
        list-style: square;
    }

    .toc {
        margin-bottoM: 50px;

        ul {
            column-count: 2;
            list-style-position: outside;
            padding-left: 0;
        }

        ul ul li {
            padding-left: 4ch;
        }

        li {
            list-style: square;
            margin-left: 1.5ch;
        }

        /* li:before {
            content: "▪  ";
        } */
    }

    blockquote {
        border-left: 1px solid #555;
        margin-left: 10px;
        padding-left: 10px;
    }

    blockquote + blockquote {
        margin-top: 30px;
    }

    pre.codehilite {
        border: 1px solid #bbb;
        padding: 10px;
    }
    code {
        white-space: pre-line;
    }
    
}

/* Table of contents
.toc { margin-bottom: 50px; }
.toc ul { padding-left: 0; }
#TOC ul ul li { padding-left: 4ch; }
#TOC li { list-style: none; } */

/* Other */
/* h1 { text-transform: capitalize; }
h2 { border-bottom: 1px solid #000; } */




/* Warning div */
/* .Warning { margin: 50px 0; }
.Warning p {
    background: #fc2;
    display: inline;
    padding: 10px;
}
.Warning p:before { content: "Note: "; } */

/* Footer */
footer {
    font-size: 80%;
    margin: 100px 0 40px;
}


/* Page specific */
body.index {
    h1:first-of-type {
        display: none; 
    }
}